
ul {
	margin-left: 1em;
}
.breadcrumbs {
	margin-bottom: 3em;
	font-size: smaller;
}
.breadcrumbs ul {
	margin: 0;
}
.breadcrumbs ul li {
	display: block;
	float: left;
	margin-left: 0.5em;
}
.breadcrumbs ul li:before {
	content: ' >> ';
}
.breadcrumbs ul li:first-child:before {
	content: '';
}
.breadcrumbs ul li:last-child a {
	color: #000;
	text-decoration: none;
}
.breadcrumbs a {
	color: #f00;
	text-decoration: none;
}
#content {
	clear: both;
}
